h1 {
  color : blue;
}

.container1 {
  background-color: white;
  /*opacity: 0.5;*/
}

.container2 {
  background-color: white;
}

p {
  /*background-color: yellow;*/
}

body {
	 background-image: url("background.jpeg");
	 text-align: center;
}